<h1>Please enter the information for the link you would like to add</h1>
<form action="/links" method="post">
  Title: <input type='text' name='title'/>
  URL: <input type='text' name='URL'/> <br />
  <input type="submit" value='Bookmark' />
</form>
